fastapi
uvicorn[standard]
python-dotenv
python-multipart
SQLAlchemy
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
itsdangerous
Authlib
pydantic
email-validator
httpx
requests
groq
google-generativeai
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-groq
PyMuPDF
PyPDF2
python-docx
reportlab
Pillow
python-dateutil
faiss-cpu
numpy
tabulate
pandas
openpyxl